body {
	font-family: "sans";
	color: #adadd5;
	background: #262626 !important;
	font-size: 200%;
}

html {
	background: #262626;
}

h1 {
	font-size: 140%;
}

a {
	text-decoration: none;
	color: #afaf87; !important
}

.content {
	/*width: 40%;*/
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

.header {
	padding-top: 2%;
/*	width: 50%;*/
	margin-left: auto;	
	margin-right: auto;	
	color: #adadd5;
}

h1 {
	color: #afaf87;
}

h1:visited {
	color: #afaf87;
}

p {
	text-align: left;
}

h4 {
	color: #afaf87;
}

h2 {
	font-size: 200%;
}

h3 {
	color: #afaf87;
}
@media only screen and (min-width: 800px) {
	.header {
		width: 50%;
	}
	.content {
		width: 40%;
	}
	body {
		font-size: 100%;
	}
}
